[access]
	inheritFrom = openbmc-cpp-repos
[submit]
	action = rebase if necessary
[access "refs/heads/*"]
	abandon = group github/openbmc/phosphor-network-manager-maintainers
	create = group github/openbmc/phosphor-network-manager-maintainers
	forgeCommitter = group github/openbmc/phosphor-network-manager-maintainers
	push = +force group github/openbmc/phosphor-network-manager-maintainers
	label-Code-Review = -2..+2 group github/openbmc/phosphor-network-manager-maintainers
	label-Ok-To-Test = +0..+1 group github/openbmc/phosphor-network-manager-maintainers
	label-Verified = -1..+1 group github/openbmc/phosphor-network-manager-maintainers
	rebase = group github/openbmc/phosphor-network-manager-maintainers
	submit = group github/openbmc/phosphor-network-manager-maintainers
	editTopicName = group github/openbmc/phosphor-network-manager-maintainers
[access "refs/tags/*"]
	createTag = group github/openbmc/phosphor-network-manager-maintainers
	createSignedTag = group github/openbmc/phosphor-network-manager-maintainers
	push = +force group github/openbmc/phosphor-network-manager-maintainers
